# ReScript compiled output
*.mjs linguist-generated

# Build artifacts
dist/**/* linguist-generated
# Documentation site
docs-website/**/* linguist-documentation

# Config files
vite.config.js linguist-vendored


